/* Estilos base */
body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #f6d6e6, #b7f8db);
}

.container {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666666;
}

input[type="text"],
input[type="time"],
button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

input[type="text"],
input[type="time"] {
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Media queries para hacer el diseño responsive */
@media screen and (max-width: 600px) {
    .container {
        width: 95%; /* Reducir el ancho del contenedor en pantallas pequeñas */
        max-width: none; /* No establecer un ancho máximo en pantallas pequeñas */
    }
}
